

.movie-category {
  margin-bottom: 2.3rem;
}

.movie-category h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.movie-category ul {
  list-style-type: none;
  padding: 0;
}

.movie-category li {
  margin-bottom: 0.6rem;
}

.movie-category a {
  text-decoration: none;
  /* color: #226cbb;  */
  color: #333333;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.5rem;
  border-radius: 4px;
}

.movie-category a:hover {
  /* background-color: #dbd4d4;  */
  background-color: #cce7ff; 
}
.now-playing{
  background-color: rgba(216, 216, 216, 0.8);
  border-radius: 20px;
  padding-left: 15px;
  padding-bottom: 1px;
  margin-right: 4rem;
  min-height: 80vh;

}

.now-playing p {
  font-size: 1.5rem;
  text-align: center;
}

.search-box {
  padding: 12px 20px;
  font-size: 17px;
  margin-right: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-box:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-box::placeholder {
  color: #696767;
}
