header {
    background-color: #4d4a4a;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  

  .active-link {
    font-weight: bold;
    color: rgb(193, 207, 110); 
    text-decoration: underline;
  }